/**
 * @file
 * Sevenish
 * ---------
 * Drupal admin theme
 *
*/

@font:'Helvetica Neue', Helvetica, sans-serif;
@pageMargin:20px;
@lineheight:1.3em;

@color:#000;
@accent:#0074bd;
@pop:#6dc15f;

@linecolor: #ccc;
@activeline: #e6e6e6;

@screen: #f2f2f2;

// Minor tweaks
body {
	color:@color;
	font-family: @font;
	font-size:15px;
	line-height:@lineheight;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-ms-font-smoothing:antialiased;
	font-smoothing:antialiased;
}
#branding {
	padding:@pageMargin @pageMargin 0 @pageMargin;
	background-color:#e6e6e6;
	h1.page-title {
		font-weight:bold;
		line-height:1.5em;
	}
}
#page {
	margin-left:@pageMargin;
	margin-right:@pageMargin;
}
#help .block .content {
	padding:1.5em;
	background-color:@screen;
	font-size:1.2em;
	line-height:1.5em;
	font-style:italic;
	p:last-child {
		margin-bottom:0;
	}
}
#help .block {
	margin-bottom:1em;
}
img {
	max-width:100%;
	height:auto;
}

// Elements
ul.primary li a:link, 
ul.primary li a.active, 
ul.primary li a:active, 
ul.primary li a:visited, 
ul.primary li a:hover, 
ul.primary li.active a {
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-ms-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
}

table tr:hover td {
	background-color:#e2eff7;
}
ul.secondary {
	li a, 
	li a:hover, 
	li.active a, 
	li.active a.active {
		padding:4px 10px;
	}
}
ul.action-links {
	padding:0;
	li {
		padding:0;
		a {
			display:inline-block;
			padding:0.5em 1em;
			border:2px solid #fff;
			background:@pop none;
			color:#fff;
			text-decoration:none;
			line-height:@lineheight;
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
			-ms-border-radius:4px;
			border-radius:4px;
			&:before {
				content: "+";
				display:inline-block;
				margin-right:0.5em;
				font-size:1.3em;
				line-height:0.8em;
			}
			&:hover {
				background-color:lighten(@pop, 5%);
				-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
				-moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
				-ms-box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
				box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
			}
			&:active,
			&:focus {
				background-color:darken(@pop, 7%);
				border-color:@activeline;
			}
		}
	}
}

table ul.action-links li a {
	padding:0.5em 0.8em !important;
	border:0 none;
	background-color:@pop !important;
}


// CKEditor page padding
body.cke_editable {
	padding:10px;
	p {
		margin:0 0 1.5em 0;
	}
}

// forms
.views-exposed-form {
	padding:0 15px;
	margin-bottom:15px;
	border:1px solid @linecolor;
}
input.form-submit,
a.button:link, 
a.button:visited {
	position:relative;
	left:-2px;
	padding:0.5em 1em;
	font-family:@font;
	color:#fff;
	background:@accent;
	border:2px solid #fff;6dc15f
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	&:hover {
		background-color:lighten(@accent, 5%);
		-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
		-moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
		-ms-box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
		box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
	}
	&:active,
	&:focus {
		background-color:darken(@accent, 7%);
		border-color:@activeline;
		outline:none;
	}
}
input[type=image] {
	padding:0;
	position:static;
	left:auto;
	background:transparent;
	border:0 none;
	&:hover,
	&:active,
	&:focus {
		background:transparent;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		-ms-box-shadow:none;
		box-shadow:none;
	}
}
input,
textarea,
select {
	.border-box;
}
input.form-autocomplete, 
input.form-text, 
input.form-file, 
textarea.form-textarea, 
select.form-select,
.custom-select {
	padding:7px 5px;
	color:#666;
	font-family:@font;
	font-size:1em;
	background-color:@screen;
	border: 1px solid @linecolor;
	border-top-color: #999;
	&:focus {
		background-color:#fff;
	}
}
select.form-select {
	cursor:pointer;
}
.custom-select {
	display:inline-block;
	max-width:100%;
	padding:5px;
	.border-box;
	select.form-select {
		margin:0;
		padding:0;
		background:transparent;
		border:0 none;
	}
}
html.js input.form-autocomplete {
	background-image:url(img/throbber.gif);
	background-position: 100% -7px;
	&.throbbing {
		background-position: 100% -57px;
	}
}

.form-type-checkbox label,
.form-type-radio label {
	cursor:pointer;
}

.form-item input#edit-title {
	font-size:1.3em;
}

.form-type-textarea + .filter-wrapper {
	margin-top:-19px;
}

.media-widget .preview {
	min-height:3.5em;
}

.form-managed-file .form-file {
	margin-right:0.5em;
}

div.container-inline {
	padding:7px 0;
}

.ajax-progress .throbber {
	background:transparent url(img/throbber.gif) no-repeat left -63px;
	height: 20px;
	width: 26px;
}

ul.tips, 
div.description, 
.form-item div.description {
	line-height:1.5em;
	&:before {
		content:'?';
		display:inline-block;
		padding:0 0.5em;
		margin-right:0.3em;
		background-color:fade(@pop, 15%);
		color:@pop;
		line-height:1.4em;
		font-size:0.9em;
		font-weight:bold;
	}
}

// Alerts and messages
@statuscolor: #d5edaf;
@warningcolor: #fdf9be;
@errorcolor: #fdbec2;
div.status, 
div.warning, 
div.error, 
div.messages {
	padding:0.4em 0.8em;
	margin:0 0 1em 0;
	background-color: #e6e6e6;
	background-image: none;
	border-width:0;
	text-align:center;
	position:relative;
}
div.messages a.closer {
	position:absolute;
	right:0.6em;
	top:0.3em;
	display:block;
	font-weight:bold;
	text-decoration:none;
}
div.messages ul {
	margin:0;
	li {
		list-style:none;
		+ li {
			margin-top:0.5em;
			padding-top:0.5em;
			border-top:1px solid fade(#000, 30%);
		}
	}
}
div.status {
	background-color: @statuscolor;
	color: darken(@statuscolor, 60%);
}
div.warning {
	background-color: @warningcolor;
}
div.error {
	background-color: @errorcolor;
	color: darken(@errorcolor, 60%);
}

.more-link,
.more-help-link {
	text-align:left;
	a {
		padding:0.25em 0.5em;
		display:inline-block;
		background-color:@screen;
		border:1px solid #e6e6e6;
		&:hover {
			border-color:@linecolor;
		}
	}
}
.more-help-link a {
	background-position:5px center;
	padding-left:25px;
}

ul.pager,
.item-list ul.pager {
	padding:4px;
	border:1px solid @linecolor;
}

// Admin tool bar modifications
#admin-menu {
	background:#222;
	font-family:@font;
	font-size:16px;
	font-weight:300;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	.dropdown .admin-menu-toolbar-category > a.active-trail {
		background:#666 none;
	}
	li.admin-menu-account > a {
		background:#be4444 none;
	}
}

// mixies
.border-box {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
.transition {
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;
}