/**
 * @file
 * Sevenish
 * ---------
 * Drupal admin theme
 *
*/
body {
  color: #000;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#branding {
  padding: 20px 20px 0 20px;
  background-color: #333f4c;
  color: #ffffff;
}
#branding h1.page-title {
  color: #ffffff;
  font-weight: 600;
  line-height: 1.5em;
}
.breadcrumb a {
  color: #b2becc;
}
#page {
  margin-left: 20px;
  margin-right: 20px;
}
#help .block .content {
  padding: 1.5em;
  background-color: #f2f2f2;
  font-size: 1.2em;
  line-height: 1.5em;
  font-style: italic;
}
#help .block .content p:last-child {
  margin-bottom: 0;
}
#help .block {
  margin-bottom: 1em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #344f6c;
}
table th,
#system-themes-page h2,
.theme-selector h3,
h1#overlay-title {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
legend,
.theme-default h3 {
  font-weight: 600;
}
ul.primary li a:link,
ul.primary li a.active,
ul.primary li a:active,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
  padding: 2px 18px 8px;
  background-color: #52657a;
  border-width: 0;
  color: #e0e5ea;
  font-weight: 600;
  border-radius: 0;
  transition: background-color 300ms ease-out;
}
ul.primary li a:hover {
  background-color: #5c7289;
}
ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited {
  color: #000;
}
ul.secondary li a {
  background-color: #e0e5ea;
}
ul.secondary li a,
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 300ms ease-out;
}
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  background-color: #47586b;
  color: #ffffff;
}
table tr:hover td {
  background-color: #e8f0fd;
}
table tr:hover td.active {
  background-color: #d7e5fb;
}
ul.action-links {
  padding: 0;
}
ul.action-links li {
  padding: 0;
}
ul.action-links li a {
  display: inline-block;
  padding: 0.75em 1em;
  border: 2px solid #fff;
  background: #da5a47 none;
  color: #fff;
  text-decoration: none;
  line-height: 1.3em;
  border-radius: 4px;
}
ul.action-links li a:before {
  content: "+";
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1.3em;
  line-height: 0.8em;
}
ul.action-links li a:hover {
  background-color: #de6d5c;
  -ms-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
ul.action-links li a:active,
ul.action-links li a:focus {
  background-color: #d3402a;
  border-color: #e6e6e6;
}
table ul.action-links li a {
  padding: 0.5em 0.8em !important;
  border: 0 none;
  background-color: #da5a47 !important;
}
body.cke_editable {
  padding: 10px;
}
body.cke_editable p {
  margin: 0 0 1.5em 0;
}
.views-exposed-form {
  padding: 0 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}
input.form-submit,
a.button:link,
a.button:visited {
  position: relative;
  left: -2px;
  padding: 0.75em 1em;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  background: #397feb;
  border: 2px solid #fff;
  border-radius: 4px;
}
input.form-submit:hover,
a.button:link:hover,
a.button:visited:hover {
  background-color: #508eed;
  -ms-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
input.form-submit:active,
a.button:link:active,
a.button:visited:active,
input.form-submit:focus,
a.button:link:focus,
a.button:visited:focus {
  background-color: #196ae8;
  border-color: #e6e6e6;
  outline: none;
}
.views-exposed-widget input.form-submit,
.container-inline input.form-submit,
.views-exposed-widget a.button:link,
.container-inline a.button:link,
.views-exposed-widget a.button:visited,
.container-inline a.button:visited {
  padding: 0.45em 1em;
}
.container-inline input.form-submit,
.container-inline input.form-button {
  position: relative;
  margin-top: 8px;
}
input[type=image] {
  padding: 0;
  position: static;
  left: auto;
  background: transparent;
  border: 0 none;
}
input[type=image]:hover,
input[type=image]:active,
input[type=image]:focus {
  background: transparent;
  -ms-box-shadow: none;
  box-shadow: none;
}
input,
textarea,
select {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 7px 5px;
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1em;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-top-color: #999;
  border-radius: 0;
}
input.form-autocomplete:focus,
input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  background-color: #fff;
}
select.form-select {
  cursor: pointer;
  max-width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDQiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiM5Mzk1OTg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT50aWNrPC90aXRsZT48cG9seWdvbiBjbGFzcz0iYSIgcG9pbnRzPSI4IDAgNCA0IDAgMCA4IDAiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: right 0.4rem center;
  background-size: 0.5rem;
  padding-right: 1.5em;
}
html.js input.form-autocomplete {
  background-image: url(img/throbber.gif);
  background-position: 100% -7px;
}
html.js input.form-autocomplete.throbbing {
  background-position: 100% -57px;
}
.form-type-checkbox label,
.form-type-radio label {
  cursor: pointer;
}
.form-item input#edit-title {
  font-size: 1.3em;
}
.media-widget .preview {
  min-height: 3.5em;
}
.form-managed-file .form-file {
  margin-right: 0.5em;
}
div.container-inline {
  padding: 7px 0;
}
.ajax-progress .throbber {
  background: transparent url(img/throbber.gif) no-repeat left -63px;
  height: 20px;
  width: 26px;
}
ul.tips,
div.description,
.form-item div.description {
  line-height: 1.5em;
}
ul.tips:before,
div.description:before,
.form-item div.description:before {
  content: '?';
  display: inline-block;
  padding: 0 0.5em;
  margin-right: 0.3em;
  background-color: rgba(109, 193, 95, 0.15);
  color: #6dc15f;
  line-height: 1.4em;
  font-size: 0.9em;
  font-weight: 600;
}
div.status,
div.warning,
div.error,
div.messages {
  padding: 0.8em;
  margin: 0 0 1em 0;
  background-color: #e6e6e6;
  background-image: none;
  border-width: 0;
  text-align: center;
  position: relative;
}
div.messages a.closer {
  position: absolute;
  right: 0.6em;
  top: 0.3em;
  display: block;
  font-weight: 600;
  text-decoration: none;
}
div.messages ul {
  margin: 0;
}
div.messages ul li {
  list-style: none;
}
div.messages ul li + li {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
div.status {
  background-color: #d5edaf;
  color: #3d5713;
}
div.warning {
  background-color: #fdf9be;
}
div.error {
  background-color: #fdbec2;
  color: #85040c;
}
.more-link,
.more-help-link {
  text-align: left;
}
.more-link a,
.more-help-link a {
  padding: 0.25em 0.5em;
  display: inline-block;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
}
.more-link a:hover,
.more-help-link a:hover {
  border-color: #ccc;
}
.more-help-link a {
  background-position: 5px center;
  padding-left: 25px;
}
ul.pager,
.item-list ul.pager {
  padding: 4px;
  border: 1px solid #ccc;
}
#admin-menu {
  background: #222;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  box-shadow: none;
}
#admin-menu .dropdown .admin-menu-toolbar-category > a.active-trail {
  background: #666 none;
}
#admin-menu li.admin-menu-account > a {
  background: #be4444 none;
}
.border-box {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.transition {
  transition: all 0.3s;
}
